{% extends "base.html" %}
{% block title %}About Us - Sugandhit Space{% endblock %}
{% block content %}
<div class="container py-5">
    <h2 class="text-center mb-5">About Sugandhit Space</h2>
    <div class="row">
        <div class="col-md-6 mb-4">
            <h4>Our Mission</h4>
            <p>To transform spaces into beautiful, green havens that enhance the quality of life and bring nature closer to urban dwellers.</p>
        </div>
        <div class="col-md-6 mb-4">
            <h4>Our Vision</h4>
            <p>To be the leading provider of gardening and landscaping services, making gardening accessible to everyone.</p>
        </div>
    </div>
</div>
{% endblock %}
